<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="../estilos/index.css" />
    <title>CLASES DE JUEGOS</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container_fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-1"
            >
              <span class="sr-only">menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Cartilla colpein</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav">
              <li><a href="../index.html">INICIO</a></li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >CONTENIDO <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="./pagina2-.html">TECNICA MULTIMEDIA</a></li>
                  <li class="active"><a href="">CLASES DE JUEGOS</a></li>
                  <li><a href="./pagina5.html">AREAS A APLICAR</a></li>
                  <li><a href="./pagina6.html">ADIVINANZAS</a></li>
                  <li><a href="./pagina7.html">REFLEXION</a></li>
                  <li><a href="./pagina8.html">REFERENCIAS</a></li>
                </ul>
              </li>
              <li><a href="./pagina3.html">CONTACTEMOS</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="col-xs-6 col-xs-offset-3 tamano">
        <figure class="text-center">
          <h3>CLASES DE JUEGOS</h3>
        </figure>
        <p>
          1) JUEGOS INTERACTIVOS EN LINEA <br />
          ¿Creación? <br />
          Fue creado en 2004 para fortalecer el conocimiento adquirido en la
          escuela y el entorno familiar. ¿Pedagogos que hablan del modelo?Está
          ligado al modelo de escuela de Piaget que refiere el juego, como parte
          importante del proceso de construcción del conocimiento y de
          desarrollo del niño. <br />
          Cantidad de niños No tiene un límite de cantidad de niños, porque es
          un método que se trabaja desde el Computador, permitiendo que un grupo
          grande o pequeño de niños puedan ser partícipes de la actividad
        </p>
        <img
          src="../imagen/imagen8.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <br />
        <p>
          2) VIDEOS EXPLICATIVOS<br />
          docentes a buscar herramientas de enseña útiles dentro del ámbito
          virtual ¿Cantidad de niños? No tiene una cantidad de niños para
          participar, ya que es una herramienta audio visual para todos los
          integrantes de la clase, Se puede trabajar durante la clase virtual y
          también en un salón de clase Aplica también para todas las áreas como
          herramienta practica de explicación en cualquier tema.
        </p>
        <img
          src="../imagen/imagen9.png"
          alt="Recibir1"
          class="img-responsive"
        /><br />
        <p>
          3) MOTIVADOR DEL BUEN COMPORTAMIENTO<br />
          ¿Cómo se llama la didáctica?: La didáctica tiene como nombre KIDS
          quien cumple con la fase intuitiva en los niños Por cada buen
          comportamiento, el estudiante recibe un signo solar y por cada mal
          comportamiento, el signo de una nube tormentosa (los signos de
          comportamiento se pueden cambiar). Si no supera el número establecido
          de malos comportamientos después de que hayan transcurrido los días,
          recibirá una recompensa designada. ¿Cantidad de niños? Se pude
          trabajar con la cantidad de niños que deseé ¿En qué área de
          conocimientos se puede aplicar? Los docentes la pueden manejar de
          manera social para cada niño ya que interactúan entre sí, docente y
          alumno.¿En qué ambiente de aprendizaje se puede aplicar? En todas las
          ambientes de aprendizaje que tenga el niño ya que es motivación para
          el estudiante en sus clases virtuales
        </p>
        <img
          src="../imagen/imagen10.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <br />
        <p>
          4) ZOOM<br />
          Este juego es ideal para niños pequeños, consiste en hacer zoom en una
          foto y enseñar solo una parte del objeto que queremos que adivinen. Se
          puede hacer este juego con partes del cuerpo, animales, ciudades,
          adaptarlo al contenido de su clase o simplemente convertirlo en juego
          divertido para descansar un poco de la materia. Para trabajar la
          discriminación auditiva se puede hacer una versión distinta que sea
          con sonidos, ¿Área del conocimiento donde se puede aplicar? Escritura,
          matemáticas, inglés.¿Ambiente de aprendizaje? Cerrado, Este juego se
          realiza en el interior del aula ¿Duración? De 10 a 15 minutos
        </p>
        <img
          src="../imagen/imagen11.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <br />
        <p>
          5) REALIDAD AUMENTADA<br />
          La realidad aumentada en educación forma parte de lo que se denominan
          pedagogías emergentes. Estas técnicas de enseñanza se definen como
          aquellas ideas pedagógicas que surgen alrededor de las Tecnologías de
          la Información y que proponen nuevos enfoques educativos basados en la
          colaboración, interacción, creatividad e innovación. La aplicación
          QUIVERVISION (<a href="http://QuiverVision.com/Education"
            >http://QuiverVision.com/Education</a
          >)Duración 10 a 15 minutos Imágenes Materiales Celular Tablet
          ¿Cantidad de niños? De 10 a 15 niños ¿Área del conocimiento? Todas las
          áreas ¿Ambiente de aprendizaje?Este juego se realiza en el interior
          del aula. <br />
          Manejo <br />
          1.Imprimir los dibujos que nos guste.
          http://QuiverVision.com/Education 2. Colorear el dibujo 3. Abrir
          laaplicación enfocar el dibujo y darle al play 4. La imagen se empieza
          a ver en 3D
        </p>
        <img
          src="../imagen/imagen12.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <br />
        <p>
          6) CAJA MISTERIOSA<br />
          ¿QUE ES? La caja misteriosa es una caja que servirá a los niños para
          que aprendan a reconocer objetos. Es una caja que estimula las
          habilidades manuales y la curiosidad del niño y puede servir a los
          padres y docentes para que, durante un momento, puedan ser testigos de
          cómo aprenden «solos» a reconocer objetos. A través del tacto, además,
          el niño podrá practicar sus habilidades manuales y refinar la
          manipulación de objetos, aprendiendo a identificarlos. La actividad se
          puede realizar tanto en clases virtuales como en clases presenciales.
          ¿QUÉ SE TRABAJA CON ESTA ACTIVIDAD?
        </p>
        <img
          src="../imagen/imagen13.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <p>
          CANTIDAD Y EDAD DE LOS NIÑOS <br />
          Este juego es adecuado para los niños de entre 2 y 4 años.
          Aprovechando su curiosidad y su deseo de asimilar todo lo que el
          entorno les ofrece. <br />
          Se inserta, objetos de diferentes formas, tamaños y texturas, logrando
          así que se sienta siempre curioso. <br />
          Con niños/as de primer ciclo de primaria, de 6 -7 años, para trabajar
          la lectoescritura y/o si tienen problemas, se puede aprovechar para
          poner objetos que contengan el fonema. <br />
          Colocaremos igualmente un objeto dentro de la caja sin que el/la
          niño/a lo vea. <br />
          ¿EN QUE AMBIENTE SE UTILIZA? Aire libre o en interiores. AREA DEL
          CONOCIMIENTO
        </p>
        <img
          src="../imagen/imagen14.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <p>
          DURACIÓN DE LA ACTIVIDAD <br />
          Lo que él o la docente considere necesario o adecuado, de 5 a 10
          objetos.<br />
          • Caja.<br />
          • Tela o papel decorativo. <br />
          MATERIALES <br />
          • Foami. <br />
          •Pegante <br />
          ¿COMO HACERLA? <br />
          1) objetos a utilizar) en uno de los lados de la caja debemos hacer un
          hueco lo Debemos escoger una caja (el tamaño depende de que tan
          grandes sean los suficientemente grande para que la mano del niño
          entre. <br />
          2) Forramos la totalidad de la caja con tela o papel decorativo,
          dejando libre el espacio del hueco y dejamos secar. <br />
          3) En el espacio de hueco, colocamos tela o papel, pegando un solo
          lado para que al momento de usarlo se pueda meter los objetos y la
          mano del niño. <br />
          4) Hacemos decoraciones con foami o algún otro material para colocar
          encima de la caja y lo dejamos secar. <br />
          ¡Y listo! ¡Ya tienes tu caja misteriosa, puedes empezar a usarla como
          y cuando quieras! <br />
          USO <br />
          En una caja colocamos de 5 a 10 objetos, esto dependiendo el tiempo
          que se quiera tomar para la actividad, los objetos podrían ser
          cualquiera que podamos encontrar en nuestra casa y que sea fácil de
          adivinar para los niños, la caja la debemos previamente tener decorada
          para que cuando se presente en clase sea agradable para los niños.
          <br />
          PASOS <br />
          1. Al tener la caja previamente decorada, solo debemos escoger los
          objetos. <br />
          2. De los objetos, vamos escogiendo uno por uno. <br />
          3. Para que los niños puedan adivinar, se les debe ir diciendo pistas
          sobre su color, su forma, su textura, su tamaño, etc. <br />
          4. Se cambia de objeto cuando los niños adivinen que es lo que la
          maestra tiene. <br />
          Se puede realizar en cuatro fases distintas a la anterior: <br />
          1. Sabiendo lo que se ha metido en la caja. Se lo enseñaremos a los
          niños según vamos metiéndolo. Ellos lo tocan y nos dicen lo que creen
          que es. <br />
          2. Sin saber lo que se ha metido. Esta fase implica una mayor
          capacidad de memoria, percepción sensorial y control de la realidad.
          Dirán también lo que creen que es. <br />
          3. Realizando tarjetas con la imagen de las cosas que se van a meter
          en la caja. El niño-a debe coger una tarjeta e intentar encontrar ese
          objeto dentro de la caja o al revés, toca el objeto y busca la tarjeta
          correspondiente. <br />
          4. si no queremos hacer tarjetas, haciendo una lista de los objetos e
          ir diciendo los que tienen que sacar. Esta fase implica discriminación
          por descarte de los objetos que no son los buscados. <br />
          5. Realizando tarjetas con el nombre escrito de los objetos que hay
          dentro de la caja. Los peques deben leer la palabra, encontrarlo y
          sacarlo. Para los niños-as más mayores.
        </p>
        <img
          src="../imagen/imagen15.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <p>
          7) PALETAS PARTICIPATIVAS <br />
          ¿QUE SON? <br />
          Estas paletas funcionan de la siguiente manera: se les pide a los
          alumnos apaguen su micrófono y mantengan encendida su cámara. Cada vez
          que los alumnos quieran participar levantarán la paleta
          correspondiente, al igual si tienen dudas, si están de acuerdo o no,
          así como para saber si nos están escuchando o tenemos fallas en el
          sonido. Este material nos ayudará a realizar nuestras clases en línea
          de manera más fácil, ya que así los alumnos solo encenderán su
          micrófono cuando sea necesario. Además de ser utilizados por los
          alumnos únicamente, puede ser usado también por los docentes, ya que
          existen paletas también para este tipo de acciones, como pedirles a
          los alumnos que presten atención mientras la docente está realizando
          una actividad, o les piden a los niños que tomen nota, etc.
          <br />CREACIÓN Y MODELO DE ESCUELA <br />
          Este tipo de técnica surgió a base de la situación actual, que nos
          obligó a empezar a dar y tomar clases de manera virtual, esta
          herramienta nos permite tener más orden y control en la clase al
          momento de participar. Puede usarse en cualquier tipo de primaria,
          colegio o escuela. <br />
          CANTIDAD DE NIÑOS Y EDAD <br />
          Puede usarse con la cantidad correspondiente a la clase con la que se
          esté trabajando ya que los niños están conectados virtualmente, podrán
          usarlos cuando necesiten en el trascurso de la clase. No hay límite de
          niños con los que se pueda practicar. Se puede usar en clases con
          niños de 2 años en adelante <br />¿EN QUE ESPACIO SE UTILIZA?<br />
          Interiores, ya que la clase se toma en un espacio cerrado <br />AREAS
          DEL CONOCIMIENTO<br />
          Se usa en las clases correspondientes al horario y la jornada escolar
          que maneje la institución <br />
          DURACION DE LA ACTIVIDAD <br />Toda la jornada académica
          <br />MATERIALES NECESARIOS<br />
          • Cartón o cartón paja<br />
          • Papel<br />
          • Pegante <br />
          • Un palito<br />
          ¿COMO HACERLA?<br />
          Esta es una actividad que se debe hacer en compañía de los papitos,
          deberán descargar de internet imágenes de las paletas o simplemente
          las pueden dibujar y decorar como más les guste (con pintura,
          pegamento, escarcha, etc.) las paletas se pueden hacer con papel,
          cartulina o cartón y un palito de paleta. <br />
          1. Se les debe imprimir las imágenes correspondientes. <br />
          2. Luego recortan las imágenes. <br />
          3. Pegaremos las imágenes en el papel sobre el respectivo cartón o
          cartón paja. <br />
          4. Luego al reverso del cartón pegaremos un palito de paleta y dejamos
          secar. ¡Listo! ¡Ya tienes tus paletas participativas! USO Al momento
          de empezar la jornada cada estudiante y docente, deberán tener listas
          sus paletas, para poder utilizarlas y participar en las clases a lo
          largo de la jornada académica
        </p>
        <img
          src="../imagen/imagen16.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <p>
          8) SILLAS MUSICALES <br />
          Los alumnos tendrán que dar vueltas alrededor de su propia silla
          mientras la maestra reproduce una canción de fondo. Cuando la canción
          pare o la maestra enseñe la imagen de una silla, los niños tendrán que
          sentarse rápidamente en la silla. Se le pone reto a l ultimo niño que
          se siente como dibuja la letra o el número que se esté enseñando, que
          de palmadas o levanta el pie las veces según el número que estén
          aprendiendo, o que diga los colores, se puede adaptar cualquier
          pregunta.Número de niños 10 a 15 niños Área del conocimiento
        </p>
        <img
          src="../imagen/imagen17.png"
          alt="Recibir1"
          class="img-responsive"
        />
        <p>
          ambiente de aprendizaje Cerrado o abierto Duración 10 a 15 minutos
          Materiales Silla, taburete, puf, sillón
        </p>
        <p>
          9) LISTA DE COMPRAS <br />
          Toda la clase nos vamos al supermercado a comprar comida
          (imaginariamente, claro). Desarrollando nuestra capacidad memorística,
          vamos a ir al mercado a comprar los, números o las vocales, los
          animales, los colores se puede acondicionar a cualquier tema. Lo que
          los niños compren deben dibujarlo en una hojita. El objetivo del este
          juego es no olvidar los productos antes mencionados y cada vez agregar
          más. Número de niños 10 a 15 niños Área del conocimiento matemáticas,
          inglés, escritura. Ambiente de aprendizaje cerrado, Duración De 10 a
          15 minutos Materiales Hojas blancas, colores, lápiz.
        </p>
        <p>
          10) CUADRORAMA <br />
          Su nombre deriva del término “diorama”, un tipo de maqueta que muestra
          en primer plano unos personajes, animales y/o elementos y en el fondo
          una representación del lugar donde están inmersos para recrear una
          escena Siendo una composición de cuatro dioramas. <br />
          ¡Cómo estrategia? <br />
          Es una estrategia de comprensión lectora, recreativa y muy dinámica,
          la cual ha permitido que los estudiantes logren comprender los textos
          que leen o están escuchando e interactúen con sus compañeros en su
          elaboración y luego socialicen lo comprendido a los demás, usando como
          apoyo el producto final, que es un tipo de maqueta que muestra los
          personajes, animales o elementos del relato. <br />
          Duración <br />
          Toma de 45 minutos a 1 hora, su realización y posterior socialización.
          <br />Áreas del conocimiento<br />
          Se maneja o utiliza principalmente en lectoescritura, sin embargo se
          puede no está exenta de ser utilizada en cualquier área del
          conocimiento. <br />
          Ambiente de aprendizaje <br />
          Su elaboración se recomienda realizarla en un espacio cerrado, sin
          embargo la socialización se puede realizar en el espacio y lugar que
          el docente vea conveniente.<br />
          Cantidad de niños <br />
          Se puede realizar de forma individual, en parejas o grupos de máximo 4
          alumnos, de acuerdo a la cantidad de estudiantes y por asignación del
          docente. <br />
          • 4 octavos de cartulina <br />
          • Pegante Materiales <br />
          • Tijeras <br />
          • Colores <br />
          • Revista o libros para recortar <br />
          • Limpia Pipas <br />
          ¿Cómo hacer un cuadro rama? <br />
          Pasó 1 <br />
          Planifica tu cuadro rama; Lee la historia Reconoce<br />
          • inicio <br />
          • Problema (Nudo) <br />
          • Desenlace <br />
          • Final <br />
          paso 2 <br />
          Busca los siguientes materiales <br />
          • Tijera <br />
          • 4 octavos de cartulina <br />
          • Colores <br />
          • Pegamento <br />
          • Clip (optativo) <br />
          paso 3 <br />
          Procedimiento <br />
          • Dobla las hojas desde la punta, hacia el otro extremo, hasta donde
          de la punta de la hoja • Repite el procedimiento con la otra punta.
          <br />
          • Se debe formar una “X” perfecta.<br />
          paso 4 <br />
          Plegar y cortar <br />
          • Corta desde una de las puntas del cuadrado, hasta la mitad de la
          hoja. <br />
          • Debe formarse un triángulo, en el cual realizaremos el ambiente de
          nuestra narración. <br />
          ATENCION. NO PEGUES NADA ANTES DE DIBUJAR EL AMBIENTE.<br />
          paso 5 <br />
          Realiza 4 cuadros ramas. <br />
          • Dibujar el fondo o escenario <br />
          • Dibujar los personajes <br />
          ● Asigna para cada uno de ellos una parte de la secuencia de la
          narración: <br />
          1. Inicio <br />
          2. Problema <br />
          3. Desenlace <br />
          4. Final <br />
          paso 6 <br />
          Armar la historia <br />
          ● Se toma las puntas cortadas y se pone una sobre la otra <br />
          ● Se repite el procedimiento en las 4 cartulinas <br />
          paso 7 <br />
          • Pega los personajes en el ambiente que corresponde. <br />
          • Realiza el procedimiento en las 4 cartulinas o escenarios <br />
          • Cuando tengas todo listo, cuenta la historia. <br />
          paso 8 <br />}¡Finalizamos ¡ <br />
          • Se puede exponer el cuadro rama, en video conferencia, fotos, video
          o de forma presencial
        </p>
      </div>
      <div class="container my-5">
        <footer class="text-white text-center text-lg-start">
          <div class="container p-3">
            <div class="row mt-3">
              <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">INFORMACION DEL CREARDOR</h5>

                <p>
                  nombre del creador:Maricela Bravo Leguizamo Estudiante de
                  Pedagogía Infantil Formación universitaria Iberoamericana
                  (COLPEIN)
                </p>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Redes sociales</h5>
                <div class="mt-4">
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Link de interes</h5>

                <table class="table text-center text-white">
                  <tbody class="font-weight-normal">
                    <tr>
                      <td>
                        <a href="https://colegiopedagogicoingles.edu.co/web/"
                          >COLPEIN</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
