<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="../estilos/index.css" />
    <title>CLASES DE JUEGOS</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container_fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-1"
            >
              <span class="sr-only">menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Cartilla colpein</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav">
              <li><a href="../index.html">INICIO</a></li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >CONTENIDO <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="">TECNICA MULTIMEDIA</a></li>
                  <li><a href="./pagina4.html">CLASES DE JUEGOS</a></li>
                  <li><a href="./pagina5.html">AREAS A APLICAR</a></li>
                  <li><a href="./pagina6.html">ADIVINANZAS</a></li>
                  <li><a href="./pagina7.html">REFLEXION</a></li>
                  <li><a href="./pagina8.html">REFERENCIAS</a></li>
                </ul>
              </li>
              <li><a href="./pagina3.html">CONTACTEMOS</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="col-xs-6 col-xs-offset-3 tamano">
        <figure class="text-center">
          <h3>Técnica Multimedia</h3>
        </figure>
        <p>
          La implementación <br />
          Los materiales y actividades deben permitir la incorporación de
          múltiples recursos como textos, imágenes, animaciones, videos,
          sonidos, sitios web, entre otros. Previo a esto se debe: <br />
          1. Definir qué se pretende que el estudiante aprenda, <br />
          2. Crear explicaciones: concretas y sencillas. <br />
          3. Fomentar la cercanía: utilizar lenguaje y contenido conocido,
          accesible para el estudiante. <br />
          4. Apariencia: aspecto agradable de acuerdo con la audiencia objetivo.
          <br />
          5. Claridad: que el estudiante conozca el recurso y sepa cómo
          manejarlo <br />
        </p>
        <img
          src="../imagen/imagen1.png"
          alt="Recibir1"
          class="img-responsive"
        />
      </div>
      <div class="container my-5">
        <footer class="text-white text-center text-lg-start">
          <div class="container p-3">
            <div class="row mt-3">
              <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">INFORMACION DEL CREARDOR</h5>

                <p>
                  nombre del creador:Maricela Bravo Leguizamo Estudiante de
                  Pedagogía Infantil Formación universitaria Iberoamericana
                  (COLPEIN)
                </p>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Redes sociales</h5>
                <div class="mt-4">
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a type="button" class="btn btn-floating btn-primary btn-lg"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Link de interes</h5>

                <table class="table text-center text-white">
                  <tbody class="font-weight-normal">
                    <tr>
                      <td>
                        <a href="https://colegiopedagogicoingles.edu.co/web/"
                          >COLPEIN</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
